@inherits ViewBase

<Library.UI.Components.Elements.LoadableContent Loading="@(Movie == null)">
    @if (editMode)
    {
        <i class="bi breadcrumb-item" @onclick="TurnOffEditMode" />
        <MovieEditForm EditableMovieModel="editableMovie" IsCreate="false" OnClose="OnClose" OnSuccess="TurnOffEditMode" />
    }
    else if (Movie != null)
    {
        <i class="bi bi-pencil" @onclick="EnableEditMode" />
        <div>
            <p><strong>Title:</strong> @Movie.Title</p>
            <p><strong>Series:</strong> @Movie.Series</p>
            <p><strong>Summary:</strong> @Movie.Summary</p>
        </div>
    }
</Library.UI.Components.Elements.LoadableContent>