@rendermode RenderMode.InteractiveServer
@using Library.UI.Components.Elements
@using System.Globalization
@using Microsoft.AspNetCore.Components.Web
@using Library.UI.Model.ViewModels.Media;
@using Library.Models.Media;

<Modal OnClose="OnClose">
    <div class="form-group">
        <label for="mediaType">Select Media Type</label>
        <select id="mediaType" class="form-control" @onchange="OnMediaTypeChange" aria-describedby="mediaTypeHelp" required>
            <option value="0">Book</option>
            <option value="1">Music</option>
            <option value="2">Movie</option>
        </select>
        <small id="mediaTypeHelp" class="form-text text-muted">Choose the type of media you want to add.</small>
    </div>

    @if (selectedMediaType == MediaType.Book)
    {
        <Library.UI.Components.Media.Book.BookEditForm EditableBookModel="newMedia.Book"
                                                       IsCreate="true"
                                                       OnSuccess="OnClose"
                                                       OnClose="OnClose" />
    }
    else if (selectedMediaType == MediaType.Music)
    {
        <Library.UI.Components.Media.Music.MusicEditForm EditableMusicModel="newMedia.Music"
                                                         IsCreate="true"
                                                         OnSuccess="OnClose"
                                                         OnClose="OnClose" />
    }
    else if (selectedMediaType == MediaType.Movie)
    {
        <Library.UI.Components.Media.Movie.MovieEditForm EditableMovieModel="newMedia.Movie"
                                                         IsCreate="true"
                                                         OnSuccess="OnClose"
                                                         OnClose="OnClose" />
    }
</Modal>

