.card {
  width: 13rem;
  height: 15rem;
  margin: 0.5rem;
  border: 1px solid grey;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}
.card .card-body {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}
.card .card-body .card-title {
  font-size: small;
}
.card.small {
  height: 6rem;
  width: 6rem;
  gap: 5px;
}
.card.small .card-body .card-title {
  font-size: small;
}
.card.selected {
  border: 1px solid #1bd2ff;
}
.card i {
  height: 75%;
  width: 75%;
}
