@inject NavigationManager NavigationManager

<div class="card clickable @Size @Status @Class" @onclick="OnClick" @ondblclick="OnDoubleClick">
    <div class="card-body">
        @ChildContent
    </div>
    <h5 class="card-title position-relative bottom-0">@Title</h5>
</div>


@code {
    [Parameter]
    public EventCallback OnDoubleClick { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter] 
    public string Title { get; set; }

    [Parameter] 
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Size { get; set; }

    [Parameter]
    public string Status { get; set; }

    [Parameter]
    public string Class { get; set; }
}
