@page "/"
@rendermode RenderMode.InteractiveServer

<PageTitle>Home</PageTitle>

<h2> @_model.UserName's Athenaeum</h2>

<Library.Components.Elements.SearchBox OnSearch="OnSearch" />


<section class="m-4">
    <h3>Content</h3>
    <div class="container">
        <Library.Components.Elements.ClickableCard OnClick="OnClickAddMedia">
            <i class="bi bi-plus-circle" />
        </Library.Components.Elements.ClickableCard>
        <Library.Components.Elements.ClickableCard Title="Books" OnClick="NavigateToBooks">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Books">
        </Library.Components.Elements.ClickableCard>
        <Library.Components.Elements.ClickableCard Title="Music" OnClick="NavigateToMusic">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Books">
        </Library.Components.Elements.ClickableCard>
        <Library.Components.Elements.ClickableCard Title="Movies" OnClick="NavigateToMovies">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Books">
        </Library.Components.Elements.ClickableCard>
    </div>

    <h3>Collections</h3>
    <div class="container">
        <Library.Components.Elements.ClickableCard OnClick="OnClickAddCollection">
            <i class="bi bi-plus-circle" />
        </Library.Components.Elements.ClickableCard>
        @if (_model?.Collections == null)
        {
            <div class="spinner-border" />
        }
        else
        {
            @foreach(var collection in _model.Collections.Where(w => w.Name.Contains(searchTerm)))
            {
                <Library.Components.Elements.ClickableCard Title="@collection.Name" OnClick="@(() => NavigateToCollection(collection.Id))" />
            }
        }
    </div>

</section>

@if (addMedia)
{
    <Library.Components.Media.NewMedia OnClose="CloseAddMediaPopup" />
}