@inject NavigationManager NavigationManager

<div class="card clickable @Size" @onclick="OnClick">
    @ChildContent
    <div class="card-body">
        <h5 class="card-title">@Title</h5>
    </div>
</div>


@code {
    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter] 
    public string Title { get; set; }

    [Parameter] 
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Size { get; set; }
}
