@inherits MediaEditFormBase
@using ViewModels = Library.UI.Model.ViewModels;

<EditForm Model="@EditableBookModel" OnValidSubmit="HandleValidBookSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col">
            <Library.UI.Components.Elements.EditFormGroup Label="Title" FieldId="bookTitle" Required="true" HelpText="Enter the book's title">
                <InputText id="bookTitle" class="form-control" @bind-Value="EditableBookModel.Title" required aria-describedby="bookTitleHelp" />
            </Library.UI.Components.Elements.EditFormGroup>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <Library.UI.Components.Elements.EditFormGroup Label="Series" FieldId="series" HelpText="Enter the book's series">
                <InputText id="series" class="form-control" @bind-Value="EditableBookModel.Series" aria-describedby="seriesHelp" />
            </Library.UI.Components.Elements.EditFormGroup>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <Library.UI.Components.Elements.EditFormGroup Label="Author" FieldId="author" HelpText="Enter the author's name">
                <InputText id="author" class="form-control" @bind-Value="EditableBookModel.Author" aria-describedby="authorHelp" />
            </Library.UI.Components.Elements.EditFormGroup>
        </div>
        <div class="col">
            <Library.UI.Components.Elements.EditFormGroup Label="ISBN" FieldId="isbn" Required="true" HelpText="Enter the ISBN of the book">
                <InputText id="isbn" class="form-control" @bind-Value="EditableBookModel.ISBN" aria-describedby="isbnHelp" />
            </Library.UI.Components.Elements.EditFormGroup>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <Library.UI.Components.Elements.EditFormGroup Label="Publisher" FieldId="publisher" HelpText="Enter the Publisher of the book">
                <InputText id="publisher" class="form-control" @bind-Value="EditableBookModel.Publisher" aria-describedby="publisherHelp" />
            </Library.UI.Components.Elements.EditFormGroup>
        </div>
        <div class="col">
            <Library.UI.Components.Elements.EditFormGroup Label="Published Date" FieldId="published">
                <InputDate id="published" class="form-control" @bind-Value="EditableBookModel.Published" />
            </Library.UI.Components.Elements.EditFormGroup>
        </div>
    </div>
    <div class="row">
        <Library.UI.Components.Elements.EditFormGroup Label="Description" FieldId="description">
            <InputTextArea id="description" class="form-control" @bind-Value="EditableBookModel.Description" />
        </Library.UI.Components.Elements.EditFormGroup>
    </div>
    <div class="row">
        <Library.UI.Components.Elements.EditFormGroup Label="Summary" FieldId="summary">
            <InputTextArea id="summary" class="form-control" @bind-Value="EditableBookModel.Summary" />
        </Library.UI.Components.Elements.EditFormGroup>
    </div>
    <EditFormButtons OnClose="OnClose" />
</EditForm>


@if (notificationUtility != null)
{
    <Library.UI.Components.Elements.Notification Title="@notificationUtility.Title" Message="@notificationUtility.Message" />
}