@inherits ViewBase

@if(editMode)
{
    <i class="bi breadcrumb-item" @onclick="TurnOffEditMode" />
    <MusicEditForm EditableMusicModel="editableMusic" IsCreate="false" OnClose="OnClose" OnSuccess="TurnOffEditMode" />
}
else
{
    <i class="bi bi-pencil" @onclick="EnableEditMode"/>
    <div>
        <p><strong>Title:</strong> @Music.Title</p>
        <p><strong>Album:</strong> @Music.Album</p>
        <p><strong>Singer:</strong> @Music.Singer</p>
    </div>
}