@import '../../wwwroot/css/Styles.scss';

.card {
    @include card;
    @include flexibleColumn;
    align-items: center;
    box-shadow: 0px 6px 10px 1px rgba(228,233,235,1);
    border:none;

    .card-body {
        @include flexibleColumn;
        align-items: center;
        width:inherit;
        height:inherit;

        img{
            width:inherit;
            height:inherit;
        }

        .card-title {
            font-size: small;
        }
    }

    &.small {
        height: 6rem;
        width: 6rem;
        gap: 5px;

        .card-body {
            .card-title {
                font-size: small;
            }
        }
    }

    &.selected {
        border: 1px solid #1bd2ff;
    }

    &.disabled {
        pointer-events: none;
        background-color: lightgray;
    }
}

.bi-trash {
    background-color: white;
    border-radius: 95%;
    padding: 1px 5px 0px 5px !important;
    margin: 5px;
}